<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.yabbi.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Yabbiadsandroiddemo">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name = "YABBI_PUBLISHER_VALUE"
            android:value = "${YABBI_PUBLISHER_ID}"/>
        <meta-data
            android:name = "YABBI_INTERSTITIAL_VALUE"
            android:value = "${YABBI_INTERSTITIAL_ID}"/>
        <meta-data
            android:name = "YABBI_REWARDED_VALUE"
            android:value = "${YABBI_REWARDED_ID}"/>
        <meta-data
            android:name = "YANDEX_INTERSTITIAL_VALUE"
            android:value = "${YANDEX_INTERSTITIAL_ID}"/>
        <meta-data
            android:name = "YANDEX_REWARDED_VALUE"
            android:value = "${YANDEX_REWARDED_ID}"/>
        <meta-data
            android:name = "MINTEGRAL_APP_VALUE"
            android:value = "${MINTEGRAL_APP_ID}"/>
        <meta-data
            android:name = "MINTEGRAL_APP_KEY_VALUE"
            android:value = "${MINTEGRAL_APP_KEY}"/>
        <meta-data
            android:name = "MINTEGRAL_INTERSTITIAL_PLACEMENT_VALUE"
            android:value = "${MINTEGRAL_INTERSTITIAL_PLACEMENT_ID}"/>
        <meta-data
            android:name = "MINTEGRAL_INTERSTITIAL_VALUE"
            android:value = "${MINTEGRAL_INTERSTITIAL_ID}"/>
        <meta-data
            android:name = "MINTEGRAL_REWARDED_PLACEMENT_VALUE"
            android:value = "${MINTEGRAL_REWARDED_PLACEMENT_ID}"/>
        <meta-data
            android:name = "MINTEGRAL_REWARDED_VALUE"
            android:value = "${MINTEGRAL_REWARDED_ID}"/>
    </application>
</manifest>